

@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

ul.list-unstyled,
ul.list-unstyled-coin{
  display: inline-block;
  color: #ffffff;
  padding-left: 0px;
}
ul.list-unstyled i,
ul.list-unstyled-coin i{
  position: absolute;
  right: 5px;
  top: 7px;
  color: #838383;
  font-size: 12px;
}
ul.list-unstyled li,
ul.list-unstyled-coin li {
  padding: 5px 5px;
  z-index: 2;
  position: relative;
  font-size: 12px;
}
ul.list-unstyled li::after,
ul.list-unstyled-coin li::after {
  content: none;
}
ul.list-unstyled li.init,
ul.list-unstyled-coin li.init {
  padding: 0px 5px;
  font-size: 12px;
  color: #838383;
}
ul.list-unstyled li:not(.init),
ul.list-unstyled-coin li:not(.init) {
  width: 100%;
  display: none;
  background: #ffffff;
  position: absolute;
  text-align: left;
  color: #404040;
  border: 1px solid #dddd;
}
ul.list-unstyled li:not(.init).ina,
ul.list-unstyled-coin li:not(.init).ina {
  top: 25px;
}
ul.list-unstyled li:not(.init).eng,
ul.list-unstyled-coin li:not(.init).eng {
  top: 56px;
}
ul.list-unstyled li:not(.init):hover,
ul.list-unstyled-coin li:not(.init):hover,
ul.list-unstyled li.selected:not(.init),
ul.list-unstyled-coin li.selected:not(.init) {
  background: #dfe0ff;
  cursor: pointer;
}
ul.list-unstyled li.init,
ul.list-unstyled-coin li.init {
  cursor: pointer;
}
ul.list-unstyled-coin {
  list-style: none;
}
ul.list-unstyled li::after,
ul.list-unstyled-coin li::after {
  content: none !important;
}
.lang{
  position: relative;
  @media screen and (max-width: 768px) {
    display: none !important;
  }
}
.col-dark{
  left: 0;
  display: none;
}
.navbar-toggler:not(:disabled):not(.disabled){
  background: #fff;
}




body{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  color: #4a4a4a;
}
.reverse{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#wrapper{
  overflow: hidden;
}

#top{
  background-color: #dfe0ff;
  padding: 5px 0;
  .list{
    ul{
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        font-size: 14px;
        margin-right: 20px;
        padding-left: 25px;
        @media screen and (max-width: 768px) {
          font-size: 10px;
        }
        &:first-child{
          background: url(../images/top-date.png) no-repeat left;
          @media screen and (max-width: 768px) {
            margin-right: 0;
          }
        }
        &:last-child{
          background: url(../images/top-mail.png) no-repeat left;
          margin-right: 0;
          @media screen and (max-width: 768px) {
            display: none;
          }
        }
        a{
          color: #4a4a4a;
          text-decoration: none;
        }
      }
    }
  }
  .list2{
    ul{
      text-align: right;
      padding: 0;
      margin: 0;
      li{
        display: inline-block;
        font-size: 18px;
        margin-right: 10px;
        @media screen and (max-width: 320px) {
          margin-right: 5px;
        }
        &:last-child{
          margin-right: 0;
        }
        a{
          color: #a8aab7;
          text-decoration: none;
        }
      }
    }
  }
}

#after-top{
  background-color: #f2f2f2;
  padding: 10px 0;
  @media screen and (max-width: 768px) {
    position: relative;
    z-index: 1;
    padding: 0;
  }
  .nav2{
    padding: 0;
    .left{
      a{
        img{
          width: 80%;
          padding: 10px 25px;
          @media screen and (max-width: 320px) {
            width: 75%;
          }
        }
      }
    }
    .rigth{
      position: absolute;
      right: 0;
      background-color: #29166f;
      padding: 15px;
      height: 100%;
      button{
        background: none;
        .navbar-toggler-icon{
          background: url(../images/burger.png) no-repeat;
        }
      }
    }
    #navbarSupportedContent{
      background-color: #29166f;
      ul{
        li{
          a{
            color: #fff;
            padding: 10px 20px;
          }
        }
      }
     .form-inline{
        padding: 10px 20px;
        .btn{
          display: none;
        }
      }
    }
  }
  .menus{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    height: 15vh;
    @media screen and (min-width: 768px)and(max-width: 991px) {
      height: auto;
    }
    @media screen and (min-width: 1500px) {
      height: 7vh;
    }
    ul{
      padding: 0;
      margin: 0;
      text-align: right;
      li{
        display: inline-block;
        font-size: 16px;
        font-family: 'Roboto', sans-serif; 
        margin-right: 20px;
        @media screen and (min-width: 768px)and(max-width: 991px){
          font-size: 12px;
        }
        &:last-child{
          margin-right: 0;
        }
        a{
          color: #4a4a4a;
          text-decoration: none;
        }
      }
    }
  }
}

#nav-menus{
  background-color: #29166f;
  position: relative;
  z-index: 1;
  .logos{
    display: none;
    @media screen and (max-width: 536px) {
      display: block;
    }
  }
  nav{
    @media screen and (max-width: 768px) {
      padding: 10px 0;
      justify-content: flex-end;
    }
    .navbar-nav{
      li{
        @media screen and (min-width: 768px) {
          margin-right: 25px;
        }
        a{
          color: #fff;
        }
      }
    }
    .form-inline{
      width: 30% !important;
      position: relative;
      @media screen and (max-width: 768px) {
        width: 100% !important;
      }
      input{
        width: 100% !important;
        padding-left: 30px;
      }
      button{
        outline: none;
        position: absolute;
        left: 10px;
        border: none;
        color: rgba(105, 105, 105, 0.58);
        padding: 0;
        &:hover{
          background: none;
          color: #696969;
        }
        &:focus{
          outline: none;
          border: none;
        }
      }
    }
  }
}

#breadcumb-wrapper{
  position: relative;
  .bg{
    position: relative;
    img{
      margin-top: -35px;
      object-fit: cover;
      width: 100%;
      @media screen and (max-width: 768px) {
        height: 160px;
        object-fit: cover;
      }
      @media screen and (min-width: 1500px) {
        margin-top: -55px;
      }
    }
    .breadcumb-column{
      width: 100%;
      position: absolute;
      top: 30%;
      color: #fff;
      font-size: 18px;
      .cols-link{
        a{
          color: #fff;
        }
        .fas{
          margin: 0 20px;
          opacity: 0.3;
        }
      }
    }
  }
}

#before-content{
  .container-fluid{
    padding: 0;
    .arrow{
      position: absolute;
      right: -3%;
      top: 30%;
      @media screen and (max-width: 768px) {
        right: 0;
      }
      a{
        margin: 0 2px;
        color: #fff;
        font-size: 20px;
        display: inline-block;
      }
    }
    .red{
      background-color: #f22d39;
      .col-left{
        @media screen and (min-width: 1900px) {
          padding-left: 28%;
        }
        @media screen and (min-width: 1500px)and(max-width: 1800px) {
          padding-left: 15%;
        }
      }
      .column{
        color: #fff;
        padding: 10px 0;
        .head-cols{
          font-family: 'Raleway', sans-serif;
        }
        .block{
          font-family: 'Roboto', sans-serif;
        }
      }
    }
    .blue{
      background-color: #384ca3;
      .head-cols{
        color: #ffb618;
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 26px
      }
      .column{
        color: #fff;
        padding: 10px 0;
        .head-cols{
          font-family: 'Raleway', sans-serif;
        }
        .block{
          font-family: 'Roboto', sans-serif;
        }
      }
    }

  }
}

#content-wrapper{
  padding: 50px 0;
  &.detail{
    background-color: #f2f2f2;
  }
  .pengumuman{
    .column-block{
      .block{
        .img{
          background-color: #4a4a4a;
          padding: 10px 10px 0;
        }
      }
    }
  }
  .gallery{
    .column-block{
      .block{
        .img{
          background: url(../images/bg-gallery.png) no-repeat;
          padding: 15px 0px;
        }
        .number{
          background-color: #e6e7e9;
          color: #696969;
          font-family: 'Raleway', sans-serif;
          font-size: 36px;
          font-weight: 700;
          text-align: center;
          height: 65px;
        }
        .date{
          margin-top: 0;
        }
      }
    }
  }
  .sidebar{
    .block{
      .top{
        background-color: #384ca3;
        color: #fff;
        padding: 20px;
        display: flex;
        align-items: center;
        width: 100%;
        @media screen and (min-width: 992px) {
          height: 80px;
        }
        .clearfix{
          width: 100%;
          .title{
            font-size: 20px;
            font-weight: 700;
            font-family: 'Raleway', sans-serif;
          }
          .links{
            font-size: 12px;
            text-transform: uppercase;
            padding: 5px;
            a{
              font-family: 'Open Sans', sans-serif;
              text-decoration: none;
              color: #ffb618;
            }
          }
        }
      }
      .menux{
        background: #fff;
        margin-bottom: 40px;
        ul{
          padding: 0;
          margin: 0;
          li{
            list-style: none;
            font-size: 14px;
            a{
              display: block;
              border-bottom: 1px solid #e6e7e9;
              padding: 10px 20px;
              color: #4a4a4a;
              text-decoration: none;
              &:hover{
                background-color: #dfe0ff;
              }
            }
          }
        }
      }
    }
  }
  .column-right{
    
  }
  .pengumuman-column{
    .column-right{
      .title{
        color: #4a4a4a;
        font-weight: 700;
        font-family: 'Raleway', sans-serif;
        font-size: 24px;
        position: relative;
        margin-bottom: 20px;
        padding-bottom: 5px;
        &:after{
          position: absolute;
          bottom: 0;
          left: 0;
          background: #ffb618;
          width: 20%;
          height: 3px;
          content: '';
        }
      }
    }
    
  }
  .berita-column{
    .sidebar{
        .block{
          .top{
            .title{
              color: #fff;
            }
          }
        }
      }
    .block{
      .date{
        color: #696969;
        font-size: 12px;
        font-style: italic;
        margin: 10px 0 0;
      }
      .title{
        color: #384ca3;
        font-size: 36px;
        font-weight: 700;
        font-family: 'Raleway', sans-serif;
        border-bottom: 1px solid #e6e7e9;
        padding-bottom: 20px;
      }
      .img-wrapper{
        .single-item{
          .block{
            img{
              width: 100%;
              object-fitt:cover;
            }
          }
          .slick-prev{
            position: absolute;
            left: 20px;
            top: 50%;
            z-index: 9;
            background: url(../images/arrow-white.png) no-repeat left;
            text-indent: -9999px;
            border: none;
            outline: none;
            padding: 7px;
            -webkit-transform:rotateY(180deg);
            -moz-transform:rotateY(180deg);
            -o-transform:rotateY(180deg);
            -ms-transform:rotateY(180deg);
            cursor: pointer;
          }
          .slick-next{
            cursor: pointer;
            position: absolute;
            right: 20px;
            top: 50%;
            z-index: 9;
            background: url(../images/arrow-white.png) no-repeat left;
            text-indent: -9999px;
            border: none;
            outline: none;
            padding: 7px;
          }
          .slick-dots{
            padding: 0;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
            li{
              display: inline-block;
              width: 10px;
              height: 10px;
              border: 1px solid #ffffff;
              opacity: 0.7;
              text-indent: -9999px;
              margin: 0 5px;
              cursor: pointer;
              &.slick-active{
                background: #ffb618;
              }
            }
          }
        }
      }
      .content{
        text-align: justify;
      }
      .tagline{
        background-color: #384ca3;
        color: #fff;
        margin-bottom: 20px;
        padding: 10px 40px;
        h2{
          font-size: 20px;
        }
      }

      .related-post-wrapper{
        .title{
          font-size: 18px;
          color: #333333;
          font-weight: 600;
          padding-top: 20PX;
          border-top: 1px solid #e6e7e9;
          border-bottom: none;
          margin-top: 50px;
        }
        .related-post{
          .post-block{
            font-size: 16px;
            border-bottom: 1px dashed #979797;
            padding-bottom: 10px;
            margin-bottom: 10px;
            a{
              color: #696969;
            }
          }
        }
      }
      .comment-wrapper{
        border: 1px solid #e6e7e9;
        .col-text{
          textarea{
            border: none;
            width: 100%;
            padding: 10px;
          }
          .bottom{
            border-top: 30px solid #f2f2f2;
            width: 100%;
            padding: 10px 15px;
            .txt{
              color: #696969;
              font-style: italic;
              font-size: 12px;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 10vh;
            }
            button{
              background-color: #29166f;
              color: #fff;
              text-transform: uppercase;
              padding: 8px 30px;
            }
          }
        }
      }
      .reaction-wrapper{
        border-top: 1px solid #e6e7e9;
        margin: 40px 0;
        padding: 20px 0;
        h2{
          font-size: 18px;
          color: #333333;
          margin-bottom: 30px;
        }
        .list-reaction{
          ul{
            padding: 0;
            margin: 0;
            li{
              display: inline-block;
              list-style: none;
              text-align: center;
              margin-right: 10px;
              a{
                display: block;
                text-decoration: none;
                .txt{
                  background-color: #32c5ff;
                  color: #fff;
                  font-size: 12px;
                  font-family: 'Open Sans', sans-serif;
                  padding: 10px 0;
                  span{
                    display: block;
                    font-size: 18px;
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }
      .tag{
        ul{
          padding: 0;
          margin: 0;
          li{
            font-size: 12px;
            background: whitesmoke;
            padding: 5px 10px;
            color: #696969;
            border-radius: 5px;
            display: inline-block;
          }
        }
      }
      .share-wrapper{
        padding: 10px 0;
        display: inline-block;
        width: 100%;
        color: #696969;
        span{
          float: left;
        }
        .col-sosmed{
          float: left;
          @media screen and (min-width: 991px) {
            width: 90%;
            margin-left: 15px;
          }
          .sosmed{
            ul{
              padding: 0;
              margin: 0;
              li{
                list-style: none;
                float: left;
                margin-right: 10px;
                font-size: 20px;
                a{
                  color: #a8aab7;
                  &:hover{
                    color: #384ca3;
                  }
                }
              }
            }
          }
          .viewers{
            .block{
              ul{
                padding: 0;
                margin: 0;
                li{
                  list-style: none;
                  float: left;
                  margin-right: 20px;
                  font-size: 14px;
                  &:last-child{
                    margin-right: 0;
                  }
                  a{
                    color: #696969;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .gallery-column{
    .slider-for{
      .column-block{
        background: #fff;
        .img{
          img{
            width: 100%;
            object-fit:cover;
          }
        }
        .title{
          color: #333333;
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          font-weight: 400;
          padding: 10px 20px;
        }
        .date{
          color: #696969;
          background: url(../images/date.png) no-repeat left;
          padding-left: 20px;
          font-size: 12px;
          font-style: italic;
          font-weight: 500;
          margin: 0 25px 20px;
        }
      }
      .slick-prev{
        position: absolute;
        left: 0;
        top: 50%;
        background: url(../images/arrow-left.png) no-repeat;
        width: 60px;
        height: 60px;
        text-indent: -9999px;
        z-index: 9;
        border: none;
        cursor: pointer;
        @media screen and (max-width: 768px) {
          top: 30%;
        }
      }
      .slick-next{
        position: absolute;
        right: 0;
        top: 50%;
        background: url(../images/arrow-right.png) no-repeat;
        width: 60px;
        height: 60px;
        text-indent: -9999px;
        border: none;
        cursor: pointer;
        @media screen and (max-width: 768px) {
          top: 30%;
        }
      }
    }
    .slider-nav{
      background: #fff;
      padding: 0px 10px 20px;
      .column-block{
        cursor: pointer;
        img{
          object-fit:cover;
          width: 100%;
          height: 97px;
        }
      }
      .slick-prev{
        position: absolute;
        left: 0;
        top: 0;
        background: url(../images/arrow-nav.png) repeat-y;
        width: 15px;
        height: 97px;
        text-indent: -9999px;
        z-index: 9;
        border: none;
        cursor: pointer;
        -webkit-transform:rotateY(180deg);
        -moz-transform:rotateY(180deg);
        -o-transform:rotateY(180deg);
        -ms-transform:rotateY(180deg);
      }
      .slick-next{
        position: absolute;
        right: 0;
        top: 41%;
        background: url(../images/arrow-nav.png) repeat-y;
        width: 15px;
        height: 97px;
        text-indent: -9999px;
        border: none;
        cursor: pointer;
      }
    }
  }
  .column-block{
    .block{
      margin-bottom: 50px;
      font-family: 'Open Sans', sans-serif;
      .img{
        a{
          position: relative;
          display: block;
          &:hover{
            .hover{
              display: flex;
            }
          }
          .hover{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(41, 22, 111, 0.5);
            align-items: center;
            justify-content: center;
            display: flex;
            color: rgba(255, 255, 255, 0.84);
            font-size: 25px;
            display: none;
          }
        }
      }
      .date{
        color: #696969;
        font-size: 12px;
        font-style: italic;
        margin: 10px 0;
      }
      .title{
        font-size: 14px;
        font-weight: 600;
        line-height: normal;
        a{
          text-decoration: none;
          color: #333;
          &:hover{
            color: #384ca3;
          }
        }
      }
    }
  }
  .pagination-wrapper{
    text-align: center;
    .pagination{
      display: inline-block;
      .page-item{
        display: inline-block;
        &.active{
          a{
            background-color: #384ca3;
            border: none;
            color: #fff;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 7px 14px rgba(50, 50, 93, 0.11);
          }
        }
        a{
          color: #8898aa;
          border-radius: 50%;
          width: 30px;
          height: 30px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

#footer{
  background-color: #01002e;
  color: rgba(230, 231, 233, 0.8);
  padding: 50px 0;
  font-family: 'Roboto', sans-serif;
  p{
    margin-bottom: 0;
  }
  .footer-1 {
    border-bottom: 1px solid rgba(230, 231, 233, 0.46);
    padding-bottom: 20px;
    margin-bottom: 20px;
    .title{
      font-size: 18px;
      font-weight: 600;
      line-height: 26px;
      font-family: 'Raleway', sans-serif;
      margin: 18px 0;
    }
    .menus{
      ul{
        padding: 0;
        margin: 0;
        li{
          list-style: none;
          font-size: 14px;
          line-height: normal;
          margin-bottom: 20px;
          a{
            color: rgba(230, 231, 233, 0.8);
            text-decoration: none;
            &:hover{
              color: #ffb618;
            }
          }
        }
      }
    }
    .logo{
      margin-bottom: 20px;
    }
    .list{
      ul{
        padding: 0;
        margin: 0;
        li{
          list-style: none;
          padding-left: 40px;
          font-size: 16px;
          line-height: normal;
          margin-bottom: 20px;
          &:first-child{
            background: url(../images/ico-location.png) no-repeat left;
          }
          &:last-child{
            background: url(../images/ico-email.png) no-repeat left;
          }
          a{
            color: rgba(230, 231, 233, 0.8);
          }
        }
      }
    }
  }
  .footer-2{
    .left{}
    .right{
      text-align: right;
      @media screen and (max-width: 568px) {
        text-align: left;
      }
    }
  }
}